// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

header {
  @extend .navbar;
  @extend .navbar-default;

  margin-bottom: 0;

  > h1 { display: none; }

  nav.site-menu {
    @extend .container;

    h1 {
      @extend .navbar-brand;
      margin: 0;
      margin-left: -15px;
      font-weight: normal;
    }

    ul {
      @extend .nav;
      @extend .navbar-nav;
    }
  }
}

body {
  background-color: #f3f7e2;
}

main {
  section.hero {
    @extend .jumbotron;
    background-color: #99CD4E;
    color: #ecffec;
  }

  section.category {
    @extend .container;
    ul {
      @extend .row;
      padding-left: 0;

      li {
        @extend .col-sm-6;
        @extend .col-md-4;

        list-style-type: none;

        h2 {
          margin-top: 0;
          text-align: center;
        }

        a {
          @extend .btn;
          @extend .btn-success;
          @extend .btn-block;
          margin-top: 0.6em;
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

footer {
  @extend .container-fluid;
  background-color: #272c27;
  color: white;

  .container > section, .column-right {
    @extend .col-sm-6;
    @extend .col-md-3;

    h1 {
      font-size: 18px;
      line-height: 20px;
    }

    p {
      font-size: 12px;
      line-height: 16px;
    }
  }

  ul {
    padding-left: 15px;
  }
}
