@charset "UTF-8";

/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

footer,
header,
main,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2 {
    orphans: 3;
    widows: 3;
  }

  h2 {
    page-break-after: avoid;
  }

  header {
    display: none;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../../fonts/bootstrap/glyphicons-halflings-regular.eot?1468151479);
  src: url(../../fonts/bootstrap/glyphicons-halflings-regular.eot?&1468151479#iefix) format("embedded-opentype"), url(../../fonts/bootstrap/glyphicons-halflings-regular.woff2?1468151479) format("woff2"), url(../../fonts/bootstrap/glyphicons-halflings-regular.woff?1468151479) format("woff"), url(../../fonts/bootstrap/glyphicons-halflings-regular.ttf?1468151479) format("truetype"), url(../../fonts/bootstrap/glyphicons-halflings-regular.svg?1468151479#glyphicons_halflingsregular) format("svg");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

h1,
h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

p {
  margin: 0 0 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.container,
header nav.site-menu,
main section.category {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
header nav.site-menu:before,
main section.category:before,
.container:after,
header nav.site-menu:after,
main section.category:after {
  content: " ";
  display: table;
}

.container:after,
header nav.site-menu:after,
main section.category:after {
  clear: both;
}

@media (min-width: 768px) {
  .container,
  header nav.site-menu,
  main section.category {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container,
  header nav.site-menu,
  main section.category {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container,
  header nav.site-menu,
  main section.category {
    width: 1170px;
  }
}

footer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

footer:before,
footer:after {
  content: " ";
  display: table;
}

footer:after {
  clear: both;
}

main section.category ul {
  margin-left: -15px;
  margin-right: -15px;
}

main section.category ul:before,
main section.category ul:after {
  content: " ";
  display: table;
}

main section.category ul:after {
  clear: both;
}

footer .container > section,
footer .column-right,
main section.category ul li,
main section.category ul li,
footer .container > section,
footer .column-right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  main section.category ul li,
  footer .container > section,
  footer .column-right {
    float: left;
  }

  main section.category ul li,
  footer .container > section,
  footer .column-right {
    width: 50%;
  }
}

@media (min-width: 992px) {
  footer .container > section,
  footer .column-right,
  main section.category ul li {
    float: left;
  }

  footer .container > section,
  footer .column-right {
    width: 25%;
  }

  main section.category ul li {
    width: 33.33333333%;
  }
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

main section.category ul li a {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main section.category ul li a:focus,
main section.category ul li a:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

main section.category ul li a:hover,
main section.category ul li a:focus {
  color: #333;
  text-decoration: none;
}

main section.category ul li a:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

main section.category ul li a {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

main section.category ul li a:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

main section.category ul li a:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

main section.category ul li a:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

main section.category ul li a:active:hover,
main section.category ul li a:active:focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

main section.category ul li a:active {
  background-image: none;
}

main section.category ul li a {
  display: block;
  width: 100%;
}

header nav.site-menu ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

header nav.site-menu ul:before,
header nav.site-menu ul:after {
  content: " ";
  display: table;
}

header nav.site-menu ul:after {
  clear: both;
}

header nav.site-menu ul > li {
  position: relative;
  display: block;
}

header nav.site-menu ul > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

header nav.site-menu ul > li > a:hover,
header nav.site-menu ul > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

header {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

header:before,
header:after {
  content: " ";
  display: table;
}

header:after {
  clear: both;
}

@media (min-width: 768px) {
  header {
    border-radius: 4px;
  }
}

.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

header nav.site-menu > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  header nav.site-menu > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

header nav.site-menu h1 {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

header nav.site-menu h1:hover,
header nav.site-menu h1:focus {
  text-decoration: none;
}

header nav.site-menu ul {
  margin: 7.5px -15px;
}

header nav.site-menu ul > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width: 768px) {
  header nav.site-menu ul {
    float: left;
    margin: 0;
  }

  header nav.site-menu ul > li {
    float: left;
  }

  header nav.site-menu ul > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

header {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

header nav.site-menu h1 {
  color: #777;
}

header nav.site-menu h1:hover,
header nav.site-menu h1:focus {
  color: #5e5e5e;
  background-color: transparent;
}

header nav.site-menu ul > li > a {
  color: #777;
}

header nav.site-menu ul > li > a:hover,
header nav.site-menu ul > li > a:focus {
  color: #333;
  background-color: transparent;
}

main section.hero {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
}

main section.hero h1 {
  color: inherit;
}

main section.hero p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

main section.hero .container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  main section.hero {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  main section.hero h1 {
    font-size: 63px;
  }
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@-ms-viewport {
  width: device-width;
}

header {
  margin-bottom: 0;
}

header > h1 {
  display: none;
}

header nav.site-menu h1 {
  margin: 0;
  margin-left: -15px;
  font-weight: normal;
}

body {
  background-color: #f3f7e2;
}

main section.hero {
  background-color: #99CD4E;
  color: #ecffec;
}

main section.category ul {
  padding-left: 0;
}

main section.category ul li {
  list-style-type: none;
}

main section.category ul li h2 {
  margin-top: 0;
  text-align: center;
}

main section.category ul li a {
  margin-top: 0.6em;
  margin-bottom: 0.5em;
}

footer {
  background-color: #272c27;
  color: white;
}

footer .container > section h1,
footer .column-right h1 {
  font-size: 18px;
  line-height: 20px;
}

footer .container > section p,
footer .column-right p {
  font-size: 12px;
  line-height: 16px;
}

footer ul {
  padding-left: 15px;
}
